.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  overflow: hidden;
  height: 100vh;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #958a8a;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #a19797;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background-image: url("../img/pf2.jpg");
  border-radius: 50%;
  border: solid 3px #eece1a;
  background-position: center;
  background-size: cover;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current a {
  color: #eece1a;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu .nav-link:hover {
  color: #eece1a;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background-color: #a19797;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background-image: url("../img/homeBG.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 151, 151, 0.2);
  z-index: -1;
}

body#bg-about {
  background-image: url("../img/landscape.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#bg-about:after {
  content: "";
  background-color: rgba(161, 151, 151, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

body#work {
  background-image: url("../img/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#work:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(161, 151, 151, 0.8);
  z-index: -1;
}

body#contact {
  background-image: url("../img/pond.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#contact:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 151, 151, 0.8);
  top: 0;
  left: 0;
  z-index: -2;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  padding: .2rem 1rem;
  background-color: rgba(84, 75, 75, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  min-height: 100vh;
  position: relative;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #eece1a;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
  width: 300px;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
}

.about-info .bio h3 {
  font-size: 3rem;
}

.about-info .bio p {
  font-size: 2rem;
  font-weight: bold;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  background: #ada4a4;
  padding: .5rem;
  border-bottom: #eece1a 5px solid;
}

#work#bg-img {
  background-image: url("../img/homeBG.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#work#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 151, 151, 0.2);
  z-index: -1;
}

#work#bg-about {
  background-image: url("../img/landscape.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#work#bg-about:after {
  content: "";
  background-color: rgba(161, 151, 151, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

#work#work {
  background-image: url("../img/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#work#work:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(161, 151, 151, 0.8);
  z-index: -1;
}

#work#contact {
  background-image: url("../img/pond.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#work#contact:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 151, 151, 0.8);
  top: 0;
  left: 0;
  z-index: -2;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.projects img:hover {
  opacity: .5;
  border-color: #eece1a;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: .5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background-color: #eece1a;
  color: #000;
}

.btn-dark {
  background: #1e1b1b;
  color: #fff;
}

.btn-light {
  background: white;
  color: #333;
}

#contact#bg-img {
  background-image: url("../img/homeBG.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#contact#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 151, 151, 0.2);
  z-index: -1;
}

#contact#bg-about {
  background-image: url("../img/landscape.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#contact#bg-about:after {
  content: "";
  background-color: rgba(161, 151, 151, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

#contact#work {
  background-image: url("../img/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#contact#work:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(161, 151, 151, 0.8);
  z-index: -1;
}

#contact#contact {
  background-image: url("../img/pond.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#contact#contact:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 151, 151, 0.8);
  top: 0;
  left: 0;
  z-index: -2;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes div {
  font-size: 1.5rem;
  border: 3px #444 solid;
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.boxes div:hover {
  padding: .5rem 1.5rem;
  background: #eece1a;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}

#main-footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  background: #897c7c;
  color: #000;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show, div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .about-info {
        grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */